body{
  background-image: url(https://wallpapercave.com/wp/V4yOuzu.jpg);
  background-repeat: repeat-y;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.title {
  font-size: 2rem;
  color: azure;
  margin-bottom: 0.1rem;
}

.search-container {
  position: relative;
  width: 600px; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children to the top */
  margin-top: 20px; /* Add margin to separate from title */
}

.search-input {
  width: 100%;
  color: white;
  background-color: #4a4a4a;
  padding: 13px 17px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust font size as needed */
  border: 1px solid #4a4a4a; /* Google's border color */
  border-radius: 24px; /* Google's border radius */
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.1); /* Google's box shadow */
  outline: none; /* Remove default outline */
}

.recommended-list {
  position: absolute;
  top: calc(100% + 5px);
  left: 5px;
  width: 105%;
  color: white;
  font-weight: 650;
  max-height: 300px;
  overflow-y: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  border: 0.1px solid #292929;
  border-radius: 5px;
  background-color: #292929;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recommended-list li {
  padding: 8px 16px;
  cursor: pointer;
}

.recommended-list li:hover {
  background-color: #6b6b6b91;
}

.crawled-data {
  margin: 20px;
}

.crawled-data h2 {
  text-align: center;
  color: white;
  margin-top: 3px;
  margin-bottom: 20px;
}

.crawled-data ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.crawled-data li {
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  width: calc(24% - 20px); /* Three flex items in a row with margin in between */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37); /* Initial box shadow */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: repeat; /* Repeat the background image */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Transition on hover */
  position: relative; /* Position for pseudo-element */
}

.crawled-data li::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 4px;
  z-index: -1;
  transition: opacity 0.3s ease; /* Transition for opacity */
}

.crawled-data li:hover {
  transform: translateY(-10px) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.1); /* Updated box shadow on hover */
  background-color: rgba(235, 232, 232, 0.856);
}

.crawled-data li:hover::before {
  animation: glow 4s infinite alternate; /* Animation for colorful glow */
}

@keyframes glow {
  0% {
    opacity: 0;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Red glow */
  }
  25% {
    opacity: 1;
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5); /* Yellow glow */
  }
  50% {
    opacity: 1;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5); /* Green glow */
  }
  75% {
    opacity: 0.5;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5); /* Blue glow */
  }
  100% {
    opacity: 0;
    box-shadow: 0 0 10px rgba(255, 0, 255, 0.5); /* Purple glow */
  }
}


.crawled-data h3 {
  margin-top: 0;
  font-size: 1.04rem;
  margin-bottom: 8px;
  text-align: center;
}

.crawled-data p {
  margin: 3px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}

.crawled-data p span{
   font-weight: bold;
}



